
.item{
    margin-bottom: 3px;
    color: var(--main-color);
}
.item:hover{
    color: var(--hover-color);
}

.title{
    color: var(--main-color);
}

.btn{
    background-color: var(--main-color);
    color: white;
    border: none;
}

.btn:hover{
    background-color: var(--hover-color);
}

.btn:visited{
    background-color: #d3d3d3;
}

.link{
    color: white;
}

.tbl{
    vertical-align: middle;
}