*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-font-color);
    font-size: 14px;
}
:root{
    --main-font-color:#333;
    --main-hover-color:#34b79d;
}
.d-flex{
    display: flex;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
    text-decoration: none;
}
.container{
    font-size: 18px;
    max-width: 1440px;
    margin: 0 auto;
}
.footer-container *{
    color: #ddd;
    
}
footer{
    background-color: #333;
}
.footer-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0 40px 0;
}
.main-container{
    max-width: 1100px ;
    margin: 0 auto;
}


/* text on picture */
.img-wrap{
    position: relative;
}
.img-wrap .img-sale{
    position: absolute;
    font-weight: 400;
    text-align: center;
}
.img-wrap .img-sale span{
    font-weight: bold;
}

/* reponsive part */
.w-tablet{
    display: none;
}
.w-mobile{
    display: none;
}
.d-none{
 display: none;
}